<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="app">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body ng-controller="ctrlProduct">

<div th:fragment="modalAddNewProduct">
    <!-- Modal -->
    <div class="modal fade" id="modalNewProductBtn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" ng-show="showModalAddNewProduct">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Новый продукт:</h4>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group">
                            <label for="productTitleId">Модель товара</label>
                            <p class="errorTitle" ng-show="errorValidTitleProduct">Есть такой товар!!!</p>
                            <p class="errorTitle" ng-show="errorNonTitleProduct">Поле не должно быть пустым!!!</p>
                            <input type="text" ng-model = "titleProduct" ng-keydown="keydownInputTextTitleProduct()"  ng-class="errorNonTitleProductInput"
                                   class="form-control" id="productTitleId"  placeholder="Модель"/>
                        </div>

                        <div class="form-group">

                            <label for="brendProductId">Бренд товара</label>
                            <p class="errorTitle" ng-show="errorNonBrendProduct">Поле не должно быть пустым!!!</p>
                            <select ng-model="brendSelect" ng-class="errorNonBrendProductInput" ng-change="showSelectedBrendValue(brendSelect)"
                                    class="form-control" id="brendProductId">
                                <option ng-value="brendSelect"
                                        ng-repeat="brendSelect in allTitleBrand">{{brendSelect}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="categoryProductId">Категория товара</label>
                            <p class="errorTitle" ng-show="errorNonCetegoryProduct">Поле не должно быть пустым!!!</p>
                            <select ng-model="categorySelect" ng-class="errorNonCetegoryProductInput" ng-change="showSelectedCategoryValue(categorySelect)"
                                    class="form-control" id="categoryProductId">
                                <option ng-value="categorySelect"
                                        ng-repeat="categorySelect in allTitleCategory">{{categorySelect}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="purchasePriceId">Цена закупки</label>
                            <input type="number" step="0.01" class="form-control"
                                   id="purchasePriceId" placeholder="Цена закупки"
                            ng-model="purchasePrice"/>
                        </div>

                        <div class="form-group">
                            <label for="percentageMarkupId">Процент надбавки</label>
                            <input type="number" class="form-control"
                                   id="percentageMarkupId" placeholder="Процент надбавки"
                            ng-model="percentageMarkup"/>
                        </div>

                        <div class="form-group">
                            <label for="notationProductId">Примечания</label>
                            <textarea ng-model="notationProduct" id="notationProductId" class="form-control" rows="3"></textarea>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="addNewProductBtn()">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>